.main-nav {
  min-height: 70px;
  padding-left: 10px;
}

.nav-logo-text,
.nav-logo-text:hover {
  color: #00285f;
}

.main-menu {
  display: flex;
  font-size: 18px;
  width: 380px;
  justify-content: space-evenly;
}

.main-menu a,
a:hover,
a.active {
  color: #00285f;
}

.main-menu a.active {
  font-weight: bold;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 40, 95, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-toggler, .navbar-dark .navbar-toggler:hover {
  border-color: transparent;
  color: transparent;
}

@media (min-width: 576px) {
  .main-nav {
    padding-left: 88px;
  }
}